body {
    font-family: Arial,sans-serif;
    font-size: 60px;
    text-align: center;
  }

.icoLogo {
  height: 250px;
  width: 250px;
}  

.links-group div {
  padding: 40px;
  padding-left: 0;
  display: inline-block;
}

.links-group {
  display: none;
}

.links-group div:first-child {
  padding-left: 40px;
}

.pad20px {
  padding: 20px;
  display: none;
  margin: 0 auto;
}

.myDog {
  display: none;
}

.email {
  font-size: 30px;
  padding-top: 20px;
}

a {
  text-decoration: none;
}