html {
    overflow-x: hidden;
    overflow-y: hidden;
}

p {
    margin: 0%;
}

a, a:visited {
    color: inherit;
    transition: 0.5s;
    text-decoration: none;
}

span {
    display: inline-block;
}

.peace-box {
    text-align: center;
    padding-bottom: 10px;
    font-size: 350%;
}

.bg {
    background-color: black;
    margin: 0;
}

.line {
    background-color: white;
    height: 3px;
}

.plate {
    margin-top: 15%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.plate-inner {
    display: flex;
}

.myself {
    color: white;
    font-size: 100%;
    font-weight: 700;
    text-align: center;
}

.myself-box {
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.hello {
    font-weight: 300;
    text-align: left;
    padding-left: 40pt;
    font-size: 45px;
    padding-bottom: 30px;
}

.name {
    text-align: right;
}

.spec {
    padding-top: 30px;
    font-size: 60%;
    text-align: right;
}

.info {
    font-size: 30%;
    color: rgb(255, 31, 71);
    margin-top: 10px;
    text-align: right;
}

.company:hover {
    color: white;
}

.links {
    display: flex;
    height : 100vh;
    margin-left: auto;
    margin-right: auto;
}

.link-box {
    width: 150pt;
    transition: 0.5s;
    text-align: center;
}

.github-line {
    color: #000;
    height : 120pt;
    font-size: 80pt;
    background-color: #fff;
}

.github-line:hover {
    height : 140pt;
    font-size: 90pt;
    transition-delay: 250ms;
}

.telegram-line {
    color: #3c6fd0;
    height : 120pt;
    font-size: 80pt;
    background-color: #fff;
}

.telegram-line:hover {
    height : 140pt;
    font-size: 90pt;
    transition-delay: 250ms;
}

.email-line {
    color: #6e96fd;
    height : 120pt;
    font-size: 80pt;
    background-color: #fff;
}

.email-line:hover {
    height : 140pt;
    font-size: 90pt;
    transition-delay: 250ms;
}

.linkedin-line {
    color: #295eb3;
    height : 120pt;
    font-size: 80pt;
    background-color: #fff;
}

.linkedin-line:hover {
    font-size: 40pt;
    font-size: 90pt;
    transition-delay: 250ms;
}


.pt30 {
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}